@import "./variables.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:400, 500');

html, body {
  width: 100%;
  height: 100%;

  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;

  background: linear-gradient(180deg, $primary-color, $secondary-color);

  * {
    box-sizing: border-box;
  }
}

// styles for all headers
@for $i from 1 through 6 {
  h#{$i} {
    margin: 0;
    padding: 0;
  }
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

input, select {
  padding: $space-small;
  border-radius: $global-radius;
  border: 1px solid $color-light;
  font-size: .8em;

  &:focus {
    outline: none;
    border: 1px solid $secondary-color;
  }
}

button {
  padding: $space-small * 0.75 $space-medium;
  background: $primary-color;
  color: $color-lightest;
  font-size: 1em;
  border-radius: $global-radius;
  border: none;
  transition: background 0.3s;

  &:disabled {
    background: $color-light;
    &:hover {
      cursor: default;
    }
  }

  &:hover {
    cursor: pointer;
  }
}
