// colors
$primary-color: #658E9C;
$secondary-color: #4D5382;

$color-lightest: #fff;
$color-darkest: #000;

// measures
$header-height: 80px;

$space-small: 10px;
$space-medium: 20px;
$space-big: 40px;
