// colors
$primary-color: #658E9C;
$secondary-color: #4D5382;

$color-lightest: #fff;
$color-darkest: #000;
$color-light: darken($color-lightest, 15%);
$color-dark: lighten($color-darkest, 15%);

$color-alert: #ff5b5b;

// measures
$header-height: 80px;

$space-small: 10px;
$space-medium: 20px;
$space-big: 40px;

$global-radius: 4px;

$screen-xl-size: 768px
