@import "../../../../scss/variables.scss";

.history-result {
  text-align: center;

  &__result {
    display: block;
    font-weight: 400;
    font-size: 1.4em;
    margin-bottom: $space-medium;
  }
}
