@import "../../../../scss/variables.scss";

.history-form {
  &__title {
    margin-bottom: $space-medium;
    font-size: 1.2em;

    @media screen and (min-width: $screen-xl-size) {
      font-size: 1.5em;
    }
  }

  &__fieldset {
    label {
      display: inline-block;
      margin-bottom: $space-small * .5;
    }
    input {
      width: 100%;
      margin-bottom: $space-small;
      height: 35px;
    }

    &:first-child input:last-child {
      margin-bottom: $space-medium * 0.75;
    }
  }

  &__date-picker {
    width: 100%;

    & > div, .react-datepicker-wrapper, .react-datepicker__input-container {
      width: 100%;
    }
  }
}
