@import "../../scss/variables.scss";

.symbols-label {
  display: inline-block;
  margin-bottom: $space-small * .5;
}

.symbols-select {
  width: 100%;
  margin-bottom: $space-small;
  height: 35px;
  padding: 0 7px;
}
